<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CsvTextFieldParser" version="1.2.2" targetFramework="net48" />
  <package id="FileHelpers" version="3.5.2" targetFramework="net48" />
  <package id="Microsoft.NETCore.Platforms" version="7.0.0-rc.1.22426.10" targetFramework="net48" />
  <package id="Microsoft.VisualBasic" version="10.3.0" targetFramework="net48" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="net48" />
  <package id="System.Dynamic.Runtime" version="4.3.0" targetFramework="net48" />
  <package id="System.Reflection.TypeExtensions" version="4.7.0" targetFramework="net48" />
  <package id="VisualBasic.PowerPacks.Vs" version="1.0.0" targetFramework="net48" />
</packages>